/*------------------------------------*\
    $CORE
\*------------------------------------*/

$path-main:		"../";
$font-path:		"#{$path-main}fonts/";
$img-path:		"#{$path-main}img/";
$require-path:	"require-css/";





/*------------------------------------*\
	
\*------------------------------------*/