/*------------------------------------*\
    $MODAL
\*------------------------------------*/

/**
 * GENERIC.............................Variables/Placeholder
 * MASK................................Modals Background Container
 * .....open
 * .....close
 * MODAL...............................Modal Container
 * .....modal-dialog
 * MODAL-BAR...........................Modal Container Header
 * .....modal-close
**/

/**
 * MODAL DIALOG W/MASK (loaded on demand with js-comment)
 *
	<div data-jmname="show-html-comment" data-jmdominit="true">
	    <!-- comment in by JS
		<div class="mask" id="modal-[...]">
			<div class="modal-bar"><a class="modal-close">Close</a></div>
			<div class="modal">
				<div class="modal-dialog">
					[...]
				</div>
			</div>
		</div>
		-->
	</div>
 *
**/





/*------------------------------------*\
    $GENERIC
\*------------------------------------*/

$modal-opacity: .9;





/*------------------------------------*\
    $MASK
\*------------------------------------*/

// Ein Seitenbelag mit transparentem Hintergrund ist die Basis für "modal".
.mask {
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition:	opacity .5s,
				visibility 0s .5s;
	visibility: hidden;
	
	@include bp-l {
		backface-visibility: hidden;
	}

	// Die "mask" wird eingeblendet.
	&.open {
		@include absolute(0, '', '', 0);
		background-color: rgba($theme-modal-bg, $modal-opacity);
		height: auto !important;
		min-height: 100%;
		opacity: 1;
		overflow: auto;
		transition: opacity .5s;
		visibility: visible;
		width: 100%;
		z-index: 9999;

		.modal-dialog {
			opacity: 1;
		}
	}

	// Die "mask" wird ausgeblendet.
	&.close {
		opacity: 0;
		transition:	opacity .8s,
					visibility 0s .8s;

		.modal-dialog {
			transform: translateY(25%) rotateX(-15deg);
		}
	}
}





/*------------------------------------*\
    $MODAL
\*------------------------------------*/

// Ein Wrapper innerhalb "mask" um zusätzlichen Inhalt zu bereitzustellen.
.modal {
	background-color: rgba($theme-color-alpha, $modal-opacity);
	margin: 0 auto;
	max-width: $layout-maxwidth;
	min-height: 100%;
	overflow: hidden;
	perspective: 1200px;
	position: relative;

	@include bp-m {
		@include column(10);
		display: block;
		float: none;
		margin: 0 auto;
		max-width: 800px;
	}

	// Der Inhalt für "modal".
	.modal-dialog {
		opacity: .4;
		padding: $space-quad $pad;
		transition:	transform .5s,
					opacity .5s;
	}
}





/*------------------------------------*\
    $MODAL-BAR
\*------------------------------------*/

// Eine Toolbar mit "close-btn" sitzt direkt auf dem "modal".
.modal-bar {
	background-color: rgba($theme-modal-bar-bg, $modal-opacity);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
	
	@include bp-l {
		backface-visibility: hidden;
	}

	// Ein schließen Symbol um "modal" auszublenden.
	.modal-close {
		background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAAA6AQMAAADbddhrAAAABlBMVEX///////9VfPVsAAAAAXRSTlMAQObYZgAAAJ5JREFUeF49kcEJw0AQAyfk4Z8rOEgbC2kmJTgdpDSXcqUEhBg/jLjbm92V8PtEcHNFPG4m4vljRRxwRpzRwMotMKmHvN30d9HjoYUrmCAKO4Lp/bRxR9hlcZXOtB8rmECCgSOYgIZuEAywd8X3rnj/Kl5UBOOJNb6SI9lednceJ3Rmt3AvN3V33dAfHdNDXdVnnTcL0zEvEzRTUzb3P1RAKkF6ZufmAAAAAElFTkSuQmCC") no-repeat center center;
		color: transparent;
		cursor: pointer;
		float: right;
		height: 2rem;
		margin: $pad;
		overflow: hidden;
		text-indent: 200%;
		width: 2rem;
	}
}





/*------------------------------------*\
    
\*------------------------------------*/