/*------------------------------------*\
	$TABS
\*------------------------------------*/

/**
 * GENERIC.............................Variables/Placeholder
 * .....%tab-active
 * .....%tab-control-checked
 * .....@for... (%tab-control-checked)
 * TABS................................Tab-Navigation
**/

/**
 * Registerkarten-Navigation
 *
	<div class="tabs">
		<input type="radio" id="tab1" name="tab" class="tab-control" checked />
		<input type="radio" id="tab2" name="tab" class="tab-control" />
		<span class="tab-panel">
			<label for="tab1" class="tab" data-jmname="tab-selected" data-jmdominit="true">$tab-label$</label>
			<label for="tab2" class="tab" data-jmname="tab-selected">$tab-label</label>
		</span>
		<div class="tab-content">
			$tab-content$
		</div>
		<div class="tab-content">
			$tab-content$
		</div>
	</div>
 *
**/





/*------------------------------------*\
	$GENERIC
\*------------------------------------*/

// Active Tab
@mixin tab-active {
	@include move(0, 0, 0, relative);
}

// Extend %tab-control-checked if "tab-control" is checked
$tabs:		5;
$tabs_i:	1;

@for $tabs_i from 1 through $tabs {
	.tab-control {
		&:nth-of-type(#{$tabs_i}) {
			&:checked {
				&~ .tab-content {
					&:nth-of-type(#{$tabs_i}) {
						display: block;
					}
				}

				&~ .tab-panel {
					.tab {
						&:last-of-type {
							@media screen and (max-width: $bp-m) {
								background-color: $theme-tab-hover-bg;
								border: 0;
								color: $theme-tab-active-fg;
							}
						}

						&:nth-of-type(#{$tabs_i}) {
							@include bp-m {
								@include tab-active;
								background-color: $theme-tab-active-bg;
								color: $theme-tab-active-fg;
							}
						}
					}
				}
			}
		}
	}
}





/*------------------------------------*\
	$TABS
\*------------------------------------*/

.tabs {
	@extend %element-default;

	// Tab Container
	&> .tab-panel {
		display: block;
		margin: 0 auto;
		overflow: hidden;
		padding-top: $default-inner-spacing;
		width: 95%;

		@include bp-m {
			@include clearfix;
			background-color: $theme-tabs-bg;
		}

		// Ein Tab <label>
		.tab {
			@extend %element-inner-default;
			box-shadow: 0 -5px 10px 0 rgba($theme-shadow, .7);
			background-color: $theme-tab-bg;
			color: $theme-tab-fg;
			margin-top: -($space-half);
			padding: {
				bottom: $space-three-quarter;
				top: $space-three-quarter;
			}
			text-align: center;

			@include bp-m {
				@include move(0, $space-half, 0, relative);
				box-shadow: none;
				margin: 0 0 0 1px !important;
				padding-bottom: $space;
				transition:	background-color $default-transition-duration $default-transition-function,
							color $default-transition-duration $default-transition-function,
							transform $default-transition-duration $default-transition-function;
			}

			&:nth-of-type(1):nth-last-of-type(2),
			&:nth-of-type(2):nth-last-of-type(1) {
				@include bp-m {
					@include column(5);
				}

				@include bp-l {
					@include column(4);
				}
			}

			&:nth-of-type(1):nth-last-of-type(3),
			&:nth-of-type(2):nth-last-of-type(2),
			&:nth-of-type(3):nth-last-of-type(1) {
				@include bp-m {
					@include column(4);
				}

				@include bp-l {
					@include column(3);
				}
			}

			&:nth-of-type(1):nth-last-of-type(4),
			&:nth-of-type(2):nth-last-of-type(3),
			&:nth-of-type(3):nth-last-of-type(2),
			&:nth-of-type(4):nth-last-of-type(1) {
				@include bp-m {
					@include column(3);
				}

				@include bp-l {
					@include column(3);
				}
			}

			&:nth-of-type(1):nth-last-of-type(5),
			&:nth-of-type(2):nth-last-of-type(4),
			&:nth-of-type(3):nth-last-of-type(3),
			&:nth-of-type(4):nth-last-of-type(2),
			&:nth-of-type(5):nth-last-of-type(1) {
				@include bp-m {
					@include column(2.5);
				}
			}

			&:hover {
				@include bp-m {
					@include tab-active;
					background-color: $theme-tab-hover-bg;
					color: $theme-tab-hover-fg;
				}
			}

			&:first-of-type {
				margin-top: 0;

				@include bp-m {
					margin-left: $dist !important;
				}
			}
		}
	}

	// Inhalt des Tabs.
	&> .tab-content {
		@extend %element-nested-default;
		background-color: $theme-tab-content-bg;
		border: 1px solid $theme-tabs-bg;
		clear: both;
		color: $theme-tab-content-fg;
		display: none;
		padding: {
			bottom: $default-spacing;
			top: $default-spacing;
		}
		position: relative;
	}

	// Dient zum Steuern der einzelnen Tabs und ist ein Radiobutton <input>
	&> .tab-control {
		opacity: 0;
		position: absolute;
	}
}





/*------------------------------------*\
	
\*------------------------------------*/