/*------------------------------------*\
	TABS
\*------------------------------------*/

/**
 * ----------------------------------------------------------------------------
 *  tabbed-navigation
 *  navigate seperated contents on a single page.
 * ----------------------------------------------------------------------------
 *
 *
 * CONTENTS
 *
 * SETTINGS
 * $_tab-height........................sets the height of each tab
 * $_tab-indenting.....................controls the indenting of the first tab
 *
 * TOOLS
 * @_tabs..............................generate the tabs
 * @_tab-active........................styling for the active tab
 *
 * COMPONENTS
 * .tabs...............................tabs container <div>
 *  .tab-links.........................tabs inner container <ul>
 *   .tab..............................one tab <li>
 *    .tab-handle......................handler for "tab-control" <label>
 *    .tab-panel.......................tab's content section
 *    .tab-control.....................helper to set the active state <input type="radio" />
 *
 * HTML SNIPPET
**/





/*------------------------------------*\
	SETTINGS
\*------------------------------------*/

$_tab-height:		$ui-height + $pad;
$_tab-indenting:	$pad-and-half;





/*------------------------------------*\
	TOOLS
\*------------------------------------*/

@mixin _tabs($_tabs-total, $_tabs-cols-m, $_tabs-cols-l) {
	$_cols-l:			$_tabs-cols-l;		// How many columns for bp-l
	$_cols-m:			$_tabs-cols-m;		// How many columns for bp-m
	$_total:			$_tabs-total;		// How many tabs are displayed
	$_total-counter:	$_total + 1;		// Internal variable to decrease total number in a loop

	
	@for $i from 1 through $_total {
		&:nth-of-type(#{$i}):nth-last-of-type(#{$_total-counter - $i}) {
			@for $j from 1 through $_total {
				&:nth-child(#{$j}) {
					&> .tab-handle {
						@include bp-m {
							@include column($_cols-m);
							left: ((($total-width*(((($gutter-width+$column-width)*$_cols-m)-$gutter-width) / gridsystem-width($columns)))) + .1) * ($j - 1);
						}


						@include bp-l {
							@include column($_cols-l);
							left: ((($total-width*(((($gutter-width+$column-width)*$_cols-l)-$gutter-width) / gridsystem-width($columns)))) + .1) * ($j - 1);
						}
					}
				}
			}
		}
	}
}


@mixin _tab-active {
	@include move(0, 0, 0, absolute);
}





/*------------------------------------*\
	COMPONENTS
\*------------------------------------*/

// tabs container
// <div>
.tabs {
	@extend %element-default;
	background-color: $theme-accordion-bg;
	color: $theme-accordion-fg;

	
	@include bp-m {
		background-color: transparent;
	}

	
	// tabs inner container
	// <ul>
	.tab-links {
		@include bp-m {
			margin-top: $_tab-height + $pad-half;
			position: relative;

			@include pseudo-before {
				@include absolute(-($_tab-height + $pad-half), $pad, 0, $pad);
				background-color: $theme-tabs-bg;
			}
		}
	}

	
	// one tab
	// <li>
	.tab {
		// define tabs
		@include _tabs(2, 5, 4);
		@include _tabs(3, 4, 3);
		@include _tabs(4, 3, 3);
		@include _tabs(5, 2.5, 2.5);

		
		// handler for "tab-control"
		// <label>
		&> .tab-handle {
			@extend %toggle-subject;
			background-color: $theme-accordion-handle-bg;
			color: $theme-accordion-handle-fg;
			display: block;
			font-family: $font-btn;
			margin-bottom: 3px;
			position: relative;
			user-select: none;
			
			@include bp-m {
				@include absolute(0, null, null, null);
				@include element-indent;
				@include move(0, $pad-three-quarter, 0, absolute);
				background-color: $theme-tab-bg;
				color: $theme-tab-fg;
				height: $_tab-height;
				margin: {
					left: $_tab-indenting !important;
					top: -($_tab-height);
				}
				padding: {
					bottom: $space-three-quarter;
					top: $space-three-quarter;
				}
				text-align: center;
				transition:	background-color $default-transition-duration $default-transition-function,
							color $default-transition-duration $default-transition-function,
							transform $default-transition-duration $default-transition-function;
				z-index: 1;
			}

			@include pseudo-after {
				@include bp-m {
					background: transparent !important;
					border: transparent !important;
				}
			}
						
			@include pseudo-before {
				background-color: $theme-accordion-icon-bg;
				
				@include bp-m {
					background: transparent !important;
					border: transparent !important;
				}
			}
						
			&:hover {
				background-color: $theme-accordion-active-bg;
				color: $theme-accordion-active-fg;

				@include bp-m {
					@include _tab-active;
					background-color: $theme-tab-hover-bg;
					color: $theme-tab-hover-fg;
				}

				@include pseudo-before {
					background-color: $theme-accordion-icon-active-bg;
				}
			}
		}


		// tab's content section
		&> .tab-panel {
			@extend %toggle-content;
			background-color: $theme-accordion-content-bg;
						
			@include bp-m {
				background-color: $theme-tab-content-bg;
				border: 1px solid $theme-tabs-bg;
				clear: both;
				color: $theme-tab-content-fg;
				display: none;
				position: relative;
				z-index: 2;
			}
		}

		
		// helper to set the active state
		// <input type="radio" />
		.tab-control {
			opacity: 0;
			position: absolute;
						
			&:checked {
				&~ .tab-handle {
					@extend %toggle-subject-visible;
					background-color: $theme-accordion-active-bg;
					color: $theme-accordion-active-fg;

					@include bp-m {
						@include _tab-active;
						background-color: $theme-tab-active-bg;
						color: $theme-tab-active-fg;
					}
					
					@include pseudo-before {
						background-color: $theme-accordion-icon-active-bg;
					}
				}
				

				&~ .tab-panel {
					@extend %toggle-content-visible;
					
					@include bp-m {
						@include element-indent;
						display: block;
					}
				}
			}
		}
	}
}





/*------------------------------------*\
	HTML SNIPPET
\*------------------------------------*/

/*
<div class="tabs">
	<ul class="tab-links">
		<li class="tab">
			<input class="tab-control" id="tab1" name="tab" type="radio" checked />
			<label class="tab-handle" for="tab1">[...]</label>
			<section class="tab-panel">
				[...]
			</section>
		</li>
		<li class="tab">
			<input class="tab-control" id="tab2" name="tab" type="radio" />
			<label class="tab-handle" for="tab2">[...]</label>
			<section class="tab-panel">
				[...]
			</section>
		</li>
	</ul>
</div>
*/