/*------------------------------------*\
    FORMS
\*------------------------------------*/

/**
 * ----------------------------------------------------------------------------
 *  form elements
 * ----------------------------------------------------------------------------
 *
 *
 * CONTENTS
 *
 * GENERIC
 * %_form-element-button...............button/clickable elements
 * %_form-element-default..............every form element
 * %_form-element-input................input elements
 * %_form-element-option...............option elements
 *
 * COMPONENTS
 * BUTTON..............................<button>
 * FIELDSET............................<fieldset>
 * FORM................................<form>
 * INPUT...............................<input>
 * .....checkbox
 * .....email
 * .....file
 * .....password
 * .....radio
 * .....submit
 * .....tel
 * .....text
 * LABEL...............................<label>
 * LEGEND..............................<legend>
 * OPTION..............................<option>
 * SELECT..............................<select>
 * TEXTAREA............................<textarea>
**/





/*------------------------------------*\
    GENERIC
\*------------------------------------*/

%_form-element-button {
	@extend %clickable;
	appearance: none;
	border: 0;
	border-radius: 0;
}


%_form-element-default {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}


%_form-element-input {
	@include webkit-tap-highlight-color;
	appearance: none;
	background-color: $theme-input-bg;
	border: 1px solid $theme-input-border;
	border-radius: 0;
	color: $theme-input-fg;
	height: $ui-height;
	max-width: 100%;
	min-width: 100%;
	outline: none;
	padding: 0 $pad-three-quarter;
	transition: border-color $default-transition-duration $default-transition-function;
	width: 100%;


	&:focus {
		border-color: $theme-color-hint;
	}
}


%_form-element-option {
	float: left;
	margin: $space-quarter $pad-half 0 0;
}





/*------------------------------------*\
    BUTTON
\*------------------------------------*/

button {
	@extend %_form-element-default;
	@extend %_form-element-button;
}





/*------------------------------------*\
    FIELDSET
\*------------------------------------*/

fieldset {
	/**/
}





/*------------------------------------*\
    FORM
\*------------------------------------*/

form {
	@extend %element-default;
}





/*------------------------------------*\
    INPUT
\*------------------------------------*/

input {
	@extend %_form-element-default;


	&[type="checkbox"] {
		@extend %_form-element-option;
	}


	&[type="email"] {
		@extend %_form-element-input;
	}


	&[type="file"] {
		@extend %clickable;
		@extend %_form-element-input;
	}


	&[type="password"] {
		@extend %_form-element-input;
	}


	&[type="radio"] {
		@extend %_form-element-option;
	}


	&[type="submit"] {
		@extend %_form-element-button;
	}


	&[type="tel"] {
		@extend %_form-element-input;
	}


	&[type="text"] {
		@extend %_form-element-input;
	}
}





/*------------------------------------*\
    LABEL
\*------------------------------------*/

label {
	@extend %clickable;
	display: block;
	font-family: $font-forms;
	position: relative;
}





/*------------------------------------*\
    LEGEND
\*------------------------------------*/

legend {
	/**/
}





/*------------------------------------*\
    OPTION
\*------------------------------------*/

option {
	padding: {
		left: $pad-three-quarter;
		right: $pad-three-quarter;
	}
}





/*------------------------------------*\
    SELECT
\*------------------------------------*/

select {
	@extend %_form-element-default;
	@extend %_form-element-input;
	@extend %clickable;
	padding: {
		left: $pad-half;
		right: $pad-half;
	}


	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 $theme-input-fg;
	}
}





/*------------------------------------*\
    TEXTAREA
\*------------------------------------*/

textarea {
	@extend %_form-element-default;
	@extend %_form-element-input;
	height: $ui-height * 3;
	padding: {
		bottom: $space-half;
		top: $space-half;
	}
	resize: none;
	-webkit-appearance: none
}





/*------------------------------------*\
    
\*------------------------------------*/