/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/**
 * Flexible Media......................Fluid Media Elements
 * .....img
 * .....object
 * .....video
 * Video...............................Video Element
**/





/*------------------------------------*\
    $FLEXIBLE_MEDIA
\*------------------------------------*/

img, object, video {
	height: auto;
	max-width: 100%;
}





/*------------------------------------*\
    $VIDEO
\*------------------------------------*/

video {
	display: block;
}





/*------------------------------------*\
    
\*------------------------------------*/