/*------------------------------------*\
    $TEXT_ELEMENTS
\*------------------------------------*/

/**
 * ADDRESS.............................<address>
 * BLOCKQUOTE..........................<blockquote>
 * PARAGRAPH...........................<p>
 * STRONG..............................<strong>
**/





/*------------------------------------*\
    $ADDRESS
\*------------------------------------*/

address {
	font-style: inherit;
}





/*------------------------------------*\
    $BLOCKQUOTE
\*------------------------------------*/

blockquote {
	@extend %element-text-default;
	@include as-blockquote;
	@include as-blockquote--typeset;

	&:last-child {
		margin-bottom: 0;
	}
}





/*------------------------------------*\
    $PARAGRAPH
\*------------------------------------*/

p {
	@extend %element-text-default;
	@include as-para;
	@include as-para--typeset;

	&:last-child {
		margin-bottom: 0;
	}
}





/*------------------------------------*\
    $STRONG
\*------------------------------------*/

strong {
	font-weight: bold;
}





/*------------------------------------*\
    
\*------------------------------------*/