/*------------------------------------*\
    $HEADER_SECTION
\*------------------------------------*/

/**
 * .page-header........................HTML <header> Section
 * .logo...............................Site-Logo
**/





/*------------------------------------*\
    <header>
\*------------------------------------*/

.page-header {
	@extend %page-element-default;
}





/*------------------------------------*\
    LOGO
\*------------------------------------*/

.logo {
	@include column(8);
	@include indent;
	display: block;
	margin: {
		bottom: $space-half;
		top: $space-half;
	}
	position: relative;
	z-index: 1;

	@include bp-l {
		margin-left: 0;
	}
}





/*------------------------------------*\
    
\*------------------------------------*/