/*------------------------------------*\
    $DROPDOWN
\*------------------------------------*/

/**
 *
	<div class="dropdown">
		<select class="input-select" id="input-select" name="input-select">
			<option value="">input-select</option>
			<option value="1">Lorem ipsum dolor sit amet</option>
			<option value="2">Consetetur sadipscing elitr</option>
			<option value="3">Sed diam nonumy eirmod</option>
		</select>
	</div>
 *
**/





.dropdown {
	background-color: $theme-input-bg;
	border: 1px solid $theme-input-border;
	height: $ui-height;
	position: relative;

	@include pseudo-after {
		@include vertical-align(absolute);
		border-left: $pad-quarter solid transparent;
		border-right: $pad-quarter solid transparent;
		border-top: $pad-quarter solid $theme-input-border;
		height: 0;
		pointer-events: none;
		right: $pad-three-quarter;
		width: 0;
		z-index: 1;
	}

	@include pseudo-before {
		@include absolute(0, 0, 0, '');
		background-color: inherit;
		pointer-events: none;
		width: $pad-double;
		z-index: 1;
	}


	.input-select {
		@include element-stretch;
		background-color: transparent;
		border-color: transparent;
		color: $theme-input-fg;
		height: 100%;
		text-indent: .01px;
		text-overflow: ellipsis;

		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 $theme-input-bg;
		}

		&::-ms-expand {
		    display: none; // IE10
		}
	}
}





/*------------------------------------*\
    
\*------------------------------------*/