/*------------------------------------*\
	$INPUT
\*------------------------------------*/

/**
 * GENERIC.............................Variables/Placeholder
 * INPUT_SELECT........................<select class="input-selct">
 * INPUT_TEXT..........................<input class="input-text" />
 * INPUT_TEXTAREA......................<textarea class="input-textarea">
**/





/*------------------------------------*\
	$GENERIC
\*------------------------------------*/

%validation {
	&.error {
		border-color: $theme-color-error;
	}

	&.valid {
		border-color: $theme-color-valid;
	}
}




/*------------------------------------*\
	$INPUT_SELECT
\*------------------------------------*/

.input-select {
	@extend %validation;
}




/*------------------------------------*\
	$INPUT_TEXT
\*------------------------------------*/

.input-text {
	@extend %validation;
}





/*------------------------------------*\
	$INPUT_TEXTAREA
\*------------------------------------*/

.input-textarea {
	@extend %validation;

	height: auto;
	padding: {
		bottom: $space-quarter;
		top: $space-quarter;
	}

	@include bp-m {
		padding-right: $pad-double;
	}
}





/*------------------------------------*\

\*------------------------------------*/