/*------------------------------------*\
    $INPUT_OPTIONS
\*------------------------------------*/

/**
 * GENERIC.............................Variables/Placeholder
 * .....$input-option-size-factor
 * .....$input-option-size
 * .....%input-option
 * INPUT_CHECKBOX......................Custom Checkbox
 * .....checkbox
 * .....checkbox-stable
 * INPUT_RADIO.........................Custom Radiobutton
 * .....radiobutton
 * .....radiobutton-stable
**/





/*------------------------------------*\
    $GENERIC
\*------------------------------------*/

$input-option-size-factor: 1.7;
$input-option-size: $ui-height * 2 / $input-option-size-factor;

%input-option {
	@include clearfix;

	.error-msg {
		@include absolute('', '', 0, -($pad-half));

		&+ .label-text {
			margin-bottom: $pad-and-half;
		}
	}

	.input-option {
		@include visually-hidden;

		&~ .label-text {
			min-height: $input-option-size;
			padding: $input-option-size / ($input-option-size-factor + 2) 0 0 (($input-option-size / $input-option-size-factor) + $pad-three-quarter);

			&:after {
				@include pseudo-element-default;
				@include vertical-align(absolute);
				color: $theme-color-alpha;
				content: "L";
				font-size: $input-option-size / 2;
				height: $input-option-size / $input-option-size-factor;
				left: 0;
				line-height: 1;
				opacity: 0;
				text-align: center;
				transform: scaleX(-1) rotate(-35deg) translate(0, -48%);
				transform-origin: top;
				transition: opacity $default-transition-duration $default-transition-function;
				width: $input-option-size / $input-option-size-factor;
			}

			&:before {
				@include pseudo-element-default;
				@include absolute((($input-option-size - ($input-option-size / $input-option-size-factor)) / 2), '', '', -1px);
				background-color: $theme-input-bg;
				border: 1px solid $theme-input-border;
				height: $input-option-size / $input-option-size-factor;
				transition: background-color $default-transition-duration $default-transition-function;
				width: $input-option-size / $input-option-size-factor;
			}
		}

		&:checked {
			&~ .label-text {
				&:after {
					opacity: 1;
				}

				&:before {
					background-color: $theme-color-beta;
				}
			}
		}

		&:focus {
			&:not(:checked) {
				&~ .label-text {
					&:before {
						border-color: $theme-color-hint;
					}
				}
			}
		}
	}
}





/*------------------------------------*\
    $CHECKBOX
\*------------------------------------*/

.checkbox {
	@extend %input-option;
}

.checkbox-stable {
	@extend .checkbox;
	cursor: initial;
	position: relative;
}





/*------------------------------------*\
    $RADIOBUTTON
\*------------------------------------*/

.radiobutton {
	@extend %input-option;

	.label-text {
		&:before {
			border-radius: 50%;
		}
	}
}

.radiobutton-stable {
	@extend .radiobutton;
	cursor: initial;
	position: relative;
}





/*------------------------------------*\

\*------------------------------------*/